@import "colors";

.editor, .editor .gutter {
  background-color: @background;
  color: @light-gray;
}

.editor.is-focused .cursor {
  border-color: @light-gray;
}

.editor.is-focused .selection .region {
  background-color: @selection;
}

.editor.is-focused .line-number.cursor-line-no-selection, .editor.is-focused .line.cursor-line {
  background-color: @current-line;
}

.comment {
  color: @gray;
}

.keyword.operator.class, .constant.other, .source.php.embedded.line {
  color: @light-gray;
}

.variable, .support.other.variable, .string.other.link, .entity.name.tag, .entity.other.attribute-name, .meta.tag, .declaration.tag {
  color: @red;
}

.constant.numeric, .constant.language, .support.constant, .constant.character, .variable.parameter, .punctuation.section.embedded, .keyword.other.unit {
  color: @orange;
}

.entity.name.class, .entity.name.type.class, .support.type, .support.class {
  color: @yellow;
}

.string, .constant.other.symbol, .entity.other.inherited-class, .markup.heading {
  color: @green;
}

.keyword.operator, .constant.other.color {
  color: @aqua;
}

.entity.name.function, .meta.function-call, .support.function, .keyword.other.special-method, .meta.block-level {
  color: @blue;
}

.keyword, .storage, .storage.type, .entity.name.tag.css {
  color: @purple;
}

.invalid {
  color: @light-gray;
  background-color: @invalid;
}

.meta.separator {
  color: @light-gray;
  background-color: @meta-separator;
}

.invalid.deprecated {
  color: @light-gray;
  background-color: @deprecated;
}
