// These colors are specific to the theme. Do not use in a package!

@background: #1D1F21;
@selection: #373B42;
@current-line: #282A2E;

@light-gray: #CCCCCC;
@gray: #999999;
@red: #CC6666;
@orange: #DE9359;
@yellow: #F0C66F;
@green: #AFB65F;
@aqua: #77A49E;
@blue: #7DA2BE;
@purple: #A994BB;

@invalid: #F2777A;
@meta-separator: #99CCCC;
@deprecated: #CC99CC;
